.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 40;
    text-align: center;
    font-family: arial;
  }
  
  
  .price {
    position:relative;
    right: 10px;
    color: grey;
    font-size: 22px;
  }
  
  #background {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
  }


  .card button {
    position:unset;
    left: 30;
    top: 150;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:15px;
    background:#0d7963; 
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
ul.nav li {
    border-right:1px solid #189b80; 
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color:#ccece6;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:#086754;
}